process {
    withName: 'DECONVOLUTION_GPU|DECONVOLUTION_CPU' { 
        ext.args1 = {[
            params.image_dim_z ? "--nslice ${params.image_dim_z}":"",
            params.microscope_NA ? "--NA ${params.microscope_NA}":"",
            params.microscope_ni ? "--ni ${params.microscope_ni}":""
        ].join(" ").trim()}
        ext.args2 = {[
            params.deconvolution_tilesize &&
            params.deconvolution_tilesize.toInteger() > 0 ? "--tilesize ${params.deconvolution_tilesize}": "",
            params.deconvolution_iter ? "--iter ${params.deconvolution_iter}":"--iter 10"
        ].join(" ").trim()}
        ext.args3 = {[
            params.physical_voxel_size_xy_nm ? "--resxy ${params.physical_voxel_size_xy_nm}":"",
            params.physical_voxel_size_z_nm ? "--resz ${params.physical_voxel_size_z_nm}":""
        ].join(" ").trim()}
    }
}