includeConfig './module.config'

docker.enabled = false
conda.enabled = false
podman.enabled = false
apptainer.enabled = true
apptainer.autoMounts = true
apptainer.pullTimeout = '3 hours'
apptainer.cacheDir = "${projectDir}/.apptainer_cache"
apptainer.runOptions = "--bind ${projectDir}:/project --nv"

env {
    HOME = '$PWD'
    TMPDIR = '$PWD/tmp'
}

process {
    
    cpus = { 2 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 4.h * task.attempt }
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'
    queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4.GB) ? "htc-el8" : "bigmem" }

    withLabel: 'deconvolution_gpu' {
        cpus = 8
        memory = 25.GB
        time = {45.min* task.attempt}
        queue = 'gpu-el8'
        clusterOptions = '--gpus 1'
        errorStrategy = { 
            task -> 
            def status = task?.exitStatus
            (
            (status != null && status in 130..145) ||
            status == 104
            ) ? 'retry' : 'ignore'
        } 
    }
    withLabel: 'deconvolution_cpu' {
        cpus = {64* task.attempt}
        memory = {250.GB* task.attempt}
        time = {90.min* task.attempt}
        queue = 'bigmem'
    }
    
}
executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = "10/1sec"
    pollInterval = '10sec'
    exitReadTimeout = "5 min"
}