params {

    //// Input + Output ////
    input = "input.csv"                         // Path to the input table (csv format)

    //// Parameter for deconvolution ////
    image_dim_z = 349                           // Number of z-slices in the input image (pixel units)
    physical_voxel_size_xy_nm = 108.3333        // Physical voxel size in x and y dimension (nm)
    physical_voxel_size_z_nm = 300              // Physical voxel size in z dimension (nm)
    microscope_ni = 1.33                        // Refractive index of the immersion medium
    microscope_NA = 1.27                        // Numerical aperture of the microscope objective
    deconvolution_iter = 10                     // Number of iterations for the deconvolution algorithm 
    deconvolution_tilesize = 0                  // Tile size (xy) for deconvolution (pixel units). Set to 0 or negative value to disable tiling.

}