params {

    //// Input + Output ////
    input = "input.csv"                         // Path to the input table (csv format)
    outdir = "output"                           // Path to the output directory where results will be saved

    //// Parameter for deconvolution ////
    image_dim_z = 349                           // Number of z-slices in the input image (pixel units)
    physical_voxel_size_xy_nm = 108.3333        // Physical voxel size in x and y dimension (nm)
    physical_voxel_size_z_nm = 300              // Physical voxel size in z dimension (nm)
    microscope_ni = 1.33                        // Refractive index of the immersion medium
    microscope_NA = 1.27                        // Numerical aperture of the microscope objective
    deconvolution_iter = 10                     // Number of iterations for the deconvolution algorithm 
    deconvolution_tilesize = 1000               // Tile size (xy) for deconvolution (pixel units). 
                                                // If whole slide should be processed as one tile, set to size of image dimension in xy.

}